#movie-list {
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 1px solid black;
    margin: 8px;
    height: 300px;
    width: 250px;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 8px;
}

h2 {
    font-size: 1.3em;
    text-align: center;
}
img {
    height: 60%;
}

.hidden {
    display: none;
}